{% extends "./BaseTemplates/surveillanceLayout.html" %} 

{% block pageTitle %} 
    Vigilancia 
{% endblock %} 

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block mainContent %}
    <section id="info">
    </section>

    <section class="content">
        <h1>Vigilancia</h1>
            <div class="centered-container">

                {% if selected_cameras|length == 0 %}
                <div class="no-selected-camera">
                    <img
                    class="no-selected-camera--img"
                    src="{{ url_for("static", filename="images/no_camera_selected.png") }}" 
                    alt="no camera selected"
                    height="150px"
                    width="150px"
                    >

                    <img 
                        class="deny-icon"
                        src="{{ url_for("static", filename="images/x_icon.png" ) }}" 
                        alt="deny" 
                        height="30px"
                        width="30px"
                    >
                </div>

                <p>No se selecciono una camara.</p>
                <button class="btn-cyan" onclick="modal.openModal()" > Agregar camara. </button>
                <button class="btn-cyan" onclick="recordModal.openModal()" > Analizar un video. </button>
                {% endif %}

            </div>

            <div id="select-camera-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="modal.closeModal()">&times;</span>
                    <h3 class="modal-header">Selecciona una cámara</h3>

                    <form 
                        class="select-camera-form" 
                        novalidate 
                        >

                        <div class="form-error-message" id="camera-form-error-container">
                            <p id="camera-form-error"></p>
                        </div>
                    
                        <div class="form-input">
                            <label>Nombre de la cámara <span class="text-red">*</span>: </label>
                            <input type="text" placeholder="Nombre de la cámara" class="input" id="camera-name" name="camera_name"> 
                        </div>
                        
                        <div class="form-input">
                            <label> modelo <span class="text-red">*</span>: </label>
                            <select name="camera-select" class="input" id="camera-id">
                                    <option disabled selected> Seleccione una cámara </option>
                                    {% for camera in connected_cameras %}
                                    <option value={{camera.id}}>{{ camera.name }}</option>
                                    {% endfor %}
                            </select>
                        </div>

                        <div class="form-buttons">
                            <button class="btn-cyan" type="button" onclick="registerCamera(()=>modal.closeModal());">Aceptar</button>
                            <button class="btn-red" onclick="modal.closeModal()" > Cancelar</button>
                        </div>
                    </form>

                </div>
            </div>

            <div id="select-record-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="recordModal.closeModal()">&times;</span>
                    <h3 class="modal-header">Revisar grabaciones</h3>

                    <form 
                        class="select-camera-form" 
                    >

                        <div class="form-input">
                            <label> Directorio de la grabación <span class="text-red">*</span>: </label>
                            <input 
                                type="text" 
                                placeholder="Directorio de la grabación" 
                                class="input" 
                                id="record-route" 
                                name="recor_route"
                                required
                            > 
                        </div>
                        
                        <div class="form-buttons">
                            <button class="btn-cyan" type="button" onclick="loadVideo();">Comenzar</button>
                            <button class="btn-red" onclick="recordModal.closeModal()" > Cancelar</button>
                        </div>
                    </form>

                </div>
            </div>

    </section>
{% endblock %} 

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/session.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/date.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Modal.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/selectCamera.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/selectVideo.js') }}"></script>
    <script>
        loadCurrentConnectedCameras();
    </script>
    <script>
        modal = new Modal("select-camera-modal");

        window.onclick = function (event) {
            if (event.target.className == "modal") {
                modal.closeModal();
            }
        };
    </script>
    <script>
        recordModal = new Modal("select-record-modal");

        window.onclick = function (event) {
            if (event.target.className == "modal") {
                modal.closeModal();
            }
        };
    </script>
{% endblock %}