<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
  </head>
  <body class="login-page">
    <div class="left-section">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="Eagle head"
        class="logo"
      />
    </div>

    <div class="right-section">
      <h1 class="section-title">
        {% block rightSectionTitle %} {% endblock %}
      </h1>

      {% block form %} {% endblock %}
    </div>
      {% block scripts %}

      {% endblock%}

    
  </body>
</html>
