<!DOCTYPE html>
<html>
  <head>
    <title>{% block pageTitle %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    {% block additionalStyles %} {% endblock %}  
    {% block headerScripts %} {% endblock %}

  </head>
  <body>
    <aside class="sidebar" id="sidebar">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="logo"
        class="logo"
        height="100px"
        width="110px"
      />
      <a href="/" class="sidebar-redirect-btn"> Home </a>
      <a href="/surveillance" class="sidebar-redirect-btn"> Vigilancia </a>
      <a href="/reports" class="sidebar-redirect-btn"> Reportes </a>

      <button id="close-sesión-btn"> Cerrar sesión </button>
    </aside>

    <main class="main-content">
      {% block mainContent %} 
      {% endblock %}
    </main>
    
    {% block scripts %} 
    <script>

      const closeSessionBtn = document.getElementById("close-sesión-btn");
  
      closeSessionBtn.addEventListener(()=>{
        localStorage.removeItem("token");
        location.reload();
      })
  
    </script>
    {% endblock %}
  </body>
</html>
