.main-content {
  background-color: #272727;
  color: #dfdfdf;
  position: fixed;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  transition: left 0.3s;
}

p{
  font-size: 14px;
}


.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.btn-blue {
  background-color: #4763e4;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.btn-cyan{
  background-color: #01a272;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  margin-block: 10px ;
}

.btn-cyan:hover{
  background-color: #2fa17f;
  border: 1px solid #00a372;
  cursor: pointer;
}


.btn-blue:hover {
  cursor: pointer;
  background-color: #6880ee;
}


.btn-red {
    background-color: #F55050;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-block: 10px ;
}
  
  .btn-red:hover {
    cursor: pointer;
    background-color: #f16b6b;
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #1c1c1c;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
    border: 1px solid #888;
}

.modal-header{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #888;
}

.form-buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-buttons button{
    margin-inline: 10px;
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-block: 20px;
    align-items: center;
}

.input {
    padding: 4px 6px;
    font-size: 14px;
    border: 1px solid black;
  }
  

  .input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .input:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .input:hover {
    border-color: #b5bbc3;
  }


.form-error-message{
  display: none;
}
.form-error-message-active{
  background-color: #ebe8be;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: #fc2b2b;
  margin: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#one-camera-panel{
  width: 70%;

  margin-inline: 20px;
}

#two-camera-panel{
  height: 70vh;
  width: 70%;
  background-color: #575656;
  display: flex;
  flex-direction: row;
}

.camera-image-container{
  height: 100%;
  width: 100%;
}

#multi-camera-panel{
  height: 70vh;
  width: 80%;
  background-color: #575656;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


#multi-camera-panel .camera-image-container{
  margin: 0;
  padding: 0;
  height: 49%;
  width: 49%;
  border: 1px solid rgb(65, 51, 51);
}


.surveillance-panel{
  display: flex;
}

.right-panel{
  width: 35%;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
}

.cameras-info{
  padding: 1px 5px 5px 5px;
  border: 1px solid rgb(179, 179, 179);
}


.cameras-list{
  list-style: none;
  padding: 0;
}

.camera-item{
  position: relative;
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #343434;
}


.remove-camera-btn { 
  display: block;
  width: 130px;
  height: 30px;
  color: white;
  background-color: #F55050;
  border: none;
  border-radius: 20px;
}

.remove-camera-btn:hover{
  cursor: pointer;
  background-color: #f36f6f;
}

.activities{
  border: 1px solid rgb(179, 179, 179);
  padding: 1px 10px 10px 10px;
  height: 250px;
}

#activities__history{
  list-style: none;
  padding: 0;
}

#activities__history li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px dashed rgb(151, 149, 149);
  background-color: #e9e9e9;
  color: black;
}

#activities__history svg{
  margin-inline: 10px;
}

#activities-history li span {
  margin-left: 3px;
  font-size: 12px;
}

.camera__config-btn{
  position: absolute;
  top: 15px;
  right: 50px;
  height: 30px;
}


.camera__config-btn:hover{
  cursor: pointer;
}

.camera__remove-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  background-color: red;
  border: 1px solid transparent;
}

.camera__remove-btn:hover{
  background-color: rgb(240, 80, 80);
  cursor: pointer;
}

.scrollable{
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}



.no-selected-camera{
  position: relative;
}

.deny-icon{
  position: absolute;
  top: 10px;
  right: -10px;
}

.cameras-info__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.add-camera-btn{
  height: 40px;

}



@keyframes presentation {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.history__item--animated {
  animation-name: presentation;
  animation-duration: 3s;
}

@keyframes presentation{
  0% { background-color: rgb(243, 151, 151); }
  33% { background-color: red; }
  99% { background-color: rgb(250, 249, 249); }
}

.table-container{
  overflow-y: scroll; 
  height:80vh;
  position: absolute;
  top: 15%;
  right: 10%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #7c7c7c;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #323232;
}


#close-sesión-btn{
  background-color: rgb(249, 105, 105);
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: 16px;
  margin: auto;
  margin-top: 50vh;
}

#close-sesión-btn:hover{
  background-color: rgb(250, 45, 45);
  cursor: pointer;
}

.counter-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 20vh;
}

.counter{
  border: 2px solid #fc6262;
  height: 20vh;
  width: 15vw;
  border-radius: 10px;
  padding: 10px;
}
.counter p{
  font-size: 20px;
  text-align: center;
}
.counter p span{
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}